<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Maestro.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MaestroKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4389F3482D00C8A100BE5216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4389F3592D00C8A700BE5216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4389F3632D00C8A700BE5216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4389F3A02D010C0100BE5216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
